.container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.25em 0;
    max-width: 80%;
    margin-left: auto;
}

.message {
    padding: .6em 1.1em;
    background: #DCE8FB;
    font-size: 1rem;
    border-radius: 1.2em;
}

@media (max-width: 1050px) {
    .container {
        padding: 0 12px;
    }
}