.questionInputContainer {
    border-radius: 2rem;
    border: 1px solid #00000030;
    width: 100%;
    padding: 0.3rem;
    box-shadow: 0px 2px 5px #00000010;
}

.questionInputTextArea {
    flex: 1 1 auto;
    line-height: 2.5rem;
    padding-left: 2em;
}

.questionInputButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionInputTextArea :global(.ms-TextField-fieldGroup) {
    min-height: 0 !important;
    height: auto;
}

.questionInputTextArea :global(textarea.ms-TextField-field) {
    min-height: 0 !important;
    height: auto;
}
