.container {
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.chatRoot {
    height: 100%;
}

.chatMain {
    display: flex;
    height: 100%;
    width: 100%;
}

.chatContainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chatContainer:has(.chatEmptyState) {
    justify-content: center;
    align-items: center;
}

.chatEmptyState {
    align-self: center;
    text-align: center;
}

.chatEmptyStateTitle {
    font-size: 2.75rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1.875rem;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 0.625rem;
}

.chatMessages {
    display: contents;
}

.chatMessageStream {
    flex: 1 1 auto;
    overflow: auto;
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
}

.chatMessageGpt {
    max-width: 768px;
    margin: 0 auto;
}

.chatMessageGptMinWidth {
    min-height: 48px;
}

.chatInput {
    width: 100%;
    max-width: 768px;
    padding-bottom: 30px;
}

.chatAnalysisPanel {
    flex: 0 0 500px;
    height: 100%;
    border-left: 1px solid #ddd;
    overflow: auto;
    background: #fff;
}

.chatSettingsSeparator {
    display: flex;
    flex-direction: column;
    margin-top: 0.9375rem;
}

.logoContainer {
    display: flex;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    transform: translateY(-20px);
}

.loadingLogo {
    font-size: 1.75rem;
}

.panelFooter {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.panelCloseButton {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 5px;
    color: #07376d;
}

.panelCloseButton:hover,
.panelCloseButton:active {
    background-color: #cccccc;
    border-color: #cccccc;
    color: #07376d;
}

@media (max-width: 600px) {
    .logoContainer {
        gap: 0px;
    }
    .chatInput {
        width: 100%;
        max-width: 600px;
    }
}

@media (max-width: 1050px) {
    .chatInput {
        padding: 0 12px 30px;
    }
    .chatMessageGpt {
        padding: 0 12px;
    }
    .chatMessageStream {
        padding: 14px;
    }
}
