.examplesNavList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
}

.example {
    word-break: break-word;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 0 10px;
}

.example:hover {
    background-color: #f9f9f9;
}

.exampleText {
    font-size: 13px;
}

.examplesNavList li {
    display: block;
}
