.examplesNavList {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    flex: 1;
    justify-content: center;
}

.example {
    word-break: break-word;
    background: #008A00;
    color: #EDEEEE;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3125rem;
    cursor: pointer;
}

.example:hover {
    box-shadow:
        0rem 0.5rem 1rem rgba(0, 0, 0, 0.14),
        0rem 0rem 0.125rem rgba(0, 0, 0, 0.12);
    outline: 0.125rem solid #4D575D;
}

.exampleText {
    margin: 0;
    font-size: 1.1rem;
    width: 14rem;
    padding: 0.5rem;
    min-height: 5.5rem;
}

.examplesNavList li {
    display: none;
}

.examplesNavList li:nth-of-type(1),
.examplesNavList li:nth-of-type(2) {
    display: block; /* Default to showing two list items */
}

@media only screen and (min-width: 992px) {
    .examplesNavList {
        flex-direction: row; /* Switch to row layout for wider screens */
        padding-left: 0;
        padding-right: 0;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .example {
        margin-bottom: 0.3125rem;
        padding: 1.25rem;
    }

    .examplesNavList li:nth-of-type(2),
    .examplesNavList li:nth-of-type(3) {
        display: block; /* Show an additional list item for medium heights */
    }
    .exampleText {
        font-size: 1.1rem;
        width: 14rem;
        padding: 0.5;
        min-height: 5.5rem;
    }
}
