.answerContainer {
    max-width: 100%;
    overflow-x: hidden;
}

.answerLogo {
    font-size: 1.75em;
}

.answerText {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.answerText h1,
h2,
h2 {
    font-size: 1rem;
    font-weight: bold;
}

.answerText table {
    border-collapse: collapse;
}

.answerText td,
.answerText th {
    border: 1px solid;
    padding: 0.3125em;
}

.selected {
    outline: 0.125em solid #dce8fb;
    margin: 10px 0;
}

.citationLearnMore {
    margin-right: 0.3125em;
    font-weight: 600;
    line-height: 1.5em;
}

.citation {
    font-weight: 500;
    line-height: 1.5em;
    border-radius: 0.25em;
    color: #173669;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.85em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 75%;
}

.citation:hover {
    text-decoration: underline;
}

.followupQuestionsList {
    margin-top: 0.625em;
}

.followupQuestionLearnMore {
    margin-right: 0.3125em;
    font-weight: 600;
    line-height: 1.5em;
}

.followupQuestion {
    font-weight: 600;
    line-height: 1.5em;
    text-align: center;
    border-radius: 0.25em;
    padding: 0em 0.5em;
    background: #dce8fb;
    color: black;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
}

.supContainer {
    text-decoration: none;
    cursor: pointer;
}

.supContainer:hover {
    text-decoration: underline;
}

sup {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.625em;
    font-weight: 600;
    vertical-align: top;
    top: -1;
    margin: 0em 0.125em;
    min-width: 0.875em;
    height: 0.875em;
    border-radius: 0.1875em;
    background: #dce8fb;
    color: #173669;
    text-decoration-color: transparent;
    outline: transparent solid 0.0625em;
    cursor: pointer;
}

.retryButton {
    width: fit-content;
}

.toolbar,
.toolbarHidden {
    padding: 1em 0;
    transition: opacity 2s ease;
    will-change: opacity;
}

.toolbar {
    opacity: 1;
    --color-surface: transparent;
    --appicon-button-size: 34px;
    --appicon-icon-size: 18px;
    --radius-xl: 8px;
}

.toolbarHidden {
    opacity: 0;
    pointer-events: none;
}

.toolbar :disabled:hover {
    background: transparent !important;
    cursor: not-allowed;
}

.answerVote :global(.appicon) {
    fill: currentColor;
    stroke-width: 0;
}

@keyframes loading {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}

.loadingdots::after {
    content: "";
    animation: loading 1s infinite;
}

@media (max-width: 480px) {
    .citation {
        max-width: 20vw;
        font-size: 0.75em;
    }
}

@media (max-width: 1050px) {
    .citation {
        max-width: 15vw;
    }
}