.responsiveButton {
    display: flex;
    align-items: center;
    gap: 0.375em;
    cursor: pointer;
    padding: 0.5rem;
}

.buttonText {
    display: inline;
}

.panelCloseButton {
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 5px;
  color: #07376d;
}

.panelCloseButton:hover,
.panelCloseButton:active {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #07376d;
}

/* Responsive styling */
@media (max-width: 600px) {
    .buttonText {
        display: none;
    }
}

.callout {
    padding: 1em;
    min-height: 6.25em;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 15.625em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.75em;
}

